<div>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 layout="row" layout-align="center">
                    Browse Reddit with fat fingers!
                </h2>
            </div>
        </md-toolbar>
    </md-content>

    <md-content class="md-padding">
        <div ng-repeat="post in apiData.data.data.children">

            <md-card style="cursor:pointer;" ng-click="changeUrl('http://reddit.com' + post.data.permalink)">
                <md-card-content>
                    <div layout="row" layout-margin>
                        <div flex="10">
                            <p>Score:</p>
                            <p>
                                <b>{{post.data.score}}</b>
                            </p>
                        </div>
                        <div flex="20">
                            <img ng-if="post.data.thumbnail && post.data.thumbnail !== 'self'" ng-src="{{post.data.thumbnail}}">
                            <img ng-if="!post.data.thumbnail || post.data.thumbnail ==='self'" ng-src="img/reddit_default_thumb.jpg">
                        </div>
                        <div flex="70">
                            <p class="md-headline">{{post.data.title}}</p>
                            <p> r/{{post.data.subreddit}} - {{post.data.num_comments}} comments</p>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <br>
        </div>
    </md-content>

</div>